/*-------------------------------------------------------------------------------------------------------------------2*/
#zatemnenie:target {
display: block;
}



element {

}

#a {
    background: url("https://wmpics.pics/di-POVS.gif");
    width:224px;
    height:290px;
    position:absolute;
    top:0;
    left: 0;
    --main-bg-color: white;
    --main2-bg-color: black;
}
.switchable input {
    display:none;
}
.switchable input:checked+#a {
    background: url("https://wmpics.pics/di-5O17.gif");
    --main-bg-color: black;
    --main2-bg-color: white;

}



#zatemnenie {
background: rgba(102, 102, 102, 0.68);
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
display: none;
z-index: 9999999999;
}

.pointer {
cursor: pointer;
}

.zatemnenie-item:target {
display: block;
}



.zatemnenie-item {
background: rgba(102, 102, 102, 0.68);
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
display: none;
z-index: 9999999999;
}
window {
position: absolute;
top: 50%;
left: 50%;
width: 800px;
border: 2px solid black;
padding: 50px;
transform: translate(-50%,-50%);
background-color: #fafafa;
height: 250px;
}

.appearblock {
	margin: 0;
    font-family: 'Indie Flower', cursive;
	font-size: 150%;
	line-height: inherit;
	width: 92%;
	border: 2px solid black;
}

div#main_text a.close_window {
position: absolute;
right: 10px;
top: 4px;
border: none;

}
a.close_window {
	position: absolute;
	right: 10px;
	top: 1px;
	border: none;
	text-decoration: none;
	font-size: 22px;
}




a {
  display: inline-block;
}

img {
  transition: all .0s ease;
}

a:hover img {
  opacity: 0;
}

#cat:hover {
  background: url("https://wmpics.pics/di-TB6T7.png") no-repeat 50% 50%;
}


.fontz{
font-family: 'Indie Flower', cursive;
}


.blockcatlogin {
  position: absolute;
  top: 5%;
  left: 85%;
  height: 200px;
  z-index: 1;
  width: 10%;

}

.block1 {
  border: 2px solid black;
  position: absolute;
  top: 26%;
  left: 5%;
  height: 25%;
  background-color: var(--main-bg-color);
  z-index: 1;
  width: 18%;

}

.blocklogin {
  border: 2px solid black;
  position: absolute;
  top: 250px;
  left: 30%;
  height: 600px;
  z-index: 1;
  width: 40%;

}

.blocktext {
  border: 2px solid black;
  position: static;
  margin: 10px;
  height: 50px;
}

.text {
  position: relative;
  z-index: 2;
}
.sprite {
  background: url('https://wmpics.pics/di-WBI8.png') 0px -100px no-repeat;
  padding-left: 50px;
  z-index:1;
}
#blablabla {
  display: none;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

#blablabla.open {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn {
  border-size: 0.125rem;
  border-color: black;
  border: 2px solid black;
  font-size: 200%;
  background-color: white;
  width:200px;
  height:100px;
  position: static;
  top: 50px;
  right: 1600px;
  display: block;
  margin: 70px
}

.btn.first {
  background-color: white;
}


.btn.first:hover {
  background-color: white;
  color: white;
}

.block2 {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 97%;
  height: 100px;
  background-color: none;
  z-index: 1;
  text-align: center;

}

.block3 {
  position: absolute;
  top: 300px;
  left: 15%;
  width: 70%;
  height: 400px;
  background-color: white;
  z-index: 1;
  text-align: center;
  font-size: 150%;
}

.block4 {
  position: absolute;
  top: 130%;
  left: 6%;
  width: 88%;
  height: 10%;
  background-color: white;
  z-index: 1;
  text-align: center;
}


.block7 {
  border: 2px solid black;
  position: absolute;
  top: 26%;
  left: 25%;
  width: 73%;
  height: 62%;
  background-color: white;
  z-index: 1;

}

.buttonmain {
  border-size: 0.125rem;
  border-color: black;
  border-style: solid;
  font-size: 200%;
  background-color: white;
  width:60%;
  height:17%;
  position: static;
  display: block;
  margin: 20%;
}

.loginlogo {
  width: 80%;
  margin-left: 10%;
}

.fogotpassword {
  text-decoration:none;
  color: white;
  position: absolute;
  bottom: 39%;
  right: 4%;
  font-size: 120%;
}

.signbutton {
  margin-left: 35%;
}

@media screen and (max-width:768px) {
    .block2 {
        margin-left: -1.5em;
    }
	@keyframes show2 {
		0% {
			-moz-transform: translate(0, 0px); /** Firefox **/
            transform: translate(0, 0px);
            -webkit-transform: translate(0, 0px); /** Safari & Chrome **/
            -o-transform: translate(0, 0px); /** Opera **/
		}
		100% {
			-moz-transform: translate(0, -200px); /** Firefox **/
            transform: translate(0, -200px);
            -webkit-transform: translate(0, -200px); /** Safari & Chrome **/
            -o-transform: translate(0, -200px); /** Opera **/
		}
	}
	.block7 {
	    width: 95%;
	    margin-top: 20%;
	    left: 10px;

	}

	.block1 {
	    top: 28%;
	    left: 2%;
	    width: 95%;
	    height: 10%;
	}

	.buttonmain {
        display:inline-block;
        margin: 1%;
        margin-left: 3%;
        margin-top: 1.5%;
        height: 80%;
        width: 28%;

	}

	.blocklogin {
	    position: absolute;
	    left: 6.5%;
	    width: 87.5%;
	}

	.signbutton {
	   margin-left: 30%;

	}

	.appearblock {
	   width: 93%;

	}

	.loginlogo {
	   margin-left: 10%;
	}

	.fogotpassword {
	   bottom: 55%;
	}

	window {
	   width: 90%;
	}


}


.anim-show3{
opacity:0; /*Элемент полностью прозрачный (невидимый)*/
transition: 1s; /*Скорость перехода состояния элемента*/
animation: show3 2s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 0.3s; /* Задержка перед началом */
}

@keyframes show3{
0%{
opacity:0;
}
100% {
opacity:100;
}
}

.anim-show7{
opacity:0;
transition: 1s; /*Скорость перехода состояния элемента*/
animation: show7 2s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 0.3s; /* Задержка перед началом */
}

@keyframes show7{
0%{
opacity:0;
}
100% {
opacity:100;
}
}

.anim-show9{
-moz-transform: translate(0px, 0px); /*Элемент полностью прозрачный (невидимый)*/
transform: translate(0px, 0px);
-webkit-transform: translate(0px, 0px);
-o-transform: translate(0px, 0px);
transition: 1s; /*Скорость перехода состояния элемента*/
animation: show9 2s infinite; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 0.3s; /* Задержка перед началом */
}
@media screen and (min-width:701px) {
@keyframes show9{
0%{
-moz-transform: translate(0px, 0px); /*Элемент полностью прозрачный (невидимый)*/
transform: translate(0px, 0px);
-webkit-transform: translate(0px, 0px);
-o-transform: translate(0px, 0px);
}
25% {
-moz-transform: translate(50px, 0px); /*Элемент полностью прозрачный (невидимый)*/
transform: translate(50px, 0px);
-webkit-transform: translate(50px, 0px);
-o-transform: translate(50px, 0px);
}

50% {
-moz-transform: translate(-50px, 0px); /*Элемент полностью прозрачный (невидимый)*/
transform: translate(-50px, 0px);
-webkit-transform: translate(-50px, 0px);
-o-transform: translate(-50px, 0px);
}
75%{
-moz-transform: translate(0px, 0px); /*Элемент полностью прозрачный (невидимый)*/
transform: translate(0px, 0px);
-webkit-transform: translate(0px, 0px);
-o-transform: translate(0px, 0px);
}
}
}



/*-------------------------------------------------------------------------------------------------------------------1*/
body {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: 'Indie Flower', cursive;
  --color-primary: white;
  --color-secondary: black;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  place-items: center;
  padding: calc(var(--space) * 2);
  max-width: 700px;
}

* {
  box-sizing: border-box;
}

.multi-button {
  display: flex;
  width: 100%;
  box-shadow: var(--shadow) 4px 4px;
}

.multi-button button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space);
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
  opacity: 100;
}

.multi-button button + button {
  border-left: var(--border-size) solid black;
  margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.multi-button button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.multi-button:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.multi-button button:active {
  transform: translateY(var(--border-size));
}
/*-------------------------------------------------------------------------------------------------------------------*/
.anim-show{
opacity:0; /*Элемент полностью прозрачный (невидимый)*/
transition: 1s; /*Скорость перехода состояния элемента*/
animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 0.3s; /* Задержка перед началом */
}

@keyframes show{
0%{
opacity:0;
}
100% {
opacity:1;
}
}

.anim-show2{
-moz-transform: translate(0, 0px); /*Элемент полностью прозрачный (невидимый)*/
transform: translate(0, 0px);
-webkit-transform: translate(0, 0px);
-o-transform: translate(0, 0px);
transition: 1s; /*Скорость перехода состояния элемента*/
animation: show2 1s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 0.0s; /* Задержка перед началом */
}
@media screen and (min-width:701px) {
@keyframes show2{
0%{
-moz-transform: translate(0, 0px); /** Firefox **/
transform: translate(0, 0px);
-webkit-transform: translate(0, 0px); /** Safari & Chrome **/
-o-transform: translate(0, 0px); /** Opera **/
}
100% {
-moz-transform: translate(0,-320px); /** Firefox **/
transform: translate(0,-320px);
-webkit-transform: translate(0,-320px; /** Safari & Chrome **/
-o-transform: translate(0,-320px); /** Opera **/
}
}
}
.anim-show4{
-moz-transform: translate(0, 0px); /*Элемент полностью прозрачный (невидимый)*/
transform: translate(0, 0px);
-webkit-transform: translate(0, 0px);
-o-transform: translate(0, 0px);
transition: 1s; /*Скорость перехода состояния элемента*/
animation: show4 1s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 0.0s; /* Задержка перед началом */
}
@media screen and (min-width:701px) {
@keyframes show4{
0%{
-moz-transform: translate(0, 0px); /** Firefox **/
transform: translate(0, 0px);
-webkit-transform: translate(0, 0px); /** Safari & Chrome **/
-o-transform: translate(0, 0px); /** Opera **/
}
100% {
-moz-transform: translate(0,-320px); /** Firefox **/
transform: translate(0,-320px);
-webkit-transform: translate(0,-320px; /** Safari & Chrome **/
-o-transform: translate(0,-320px); /** Opera **/
}
}
}

