<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='image/favicon-96x96.png') }}">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title> Doko? </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    {% import "bootstrap/wtf.html" as wtf %}


</head>
<body>
<div class="block2" id="cat">
    <a href="http://127.0.0.1:5000">
        <img class="izo" src="https://wmpics.pics/di-7CJR.png">
    </a>
</div>
{% if current_user.is_authenticated %}
<div class=" blockcatlogin">
    <a>Hi {{ current_user.username }}!</a>
    <img class="izo" width="60" height="70" src="https://wmpics.pics/di-VNQZ.png">
</div>
{% endif %}

<div class="multi-button anim-show2">
    <button onclick="window.location.href = '{{ url_for("about") }}';">About</button>
    <button>Creator</button>
    <button onclick="window.location.href = '{{ url_for("login") }}';">Login</button>
</div>

<header>
    <div class="block1 anim-show3 fontz">
        <button style="height: 25%"class="buttonmain click" onclick="location.hash ='zatemnenie'">Add</button>
    </div>


    <div class="anim-show3" id="zatemnenie">

        <window>

            <form action="/create" method="post">
                <input class="appearblock" name="title" type="text" style="padding-left: 5px; margin-top: 15px;"
                       placeholder="title"/>
                <input class="appearblock" name="body" type="url" style="padding-left: 5px; margin-top: 15px;"
                       placeholder="Url"/>
                <input class="btn first signbutton" type="submit" id="submit"
                       style="width: 150px; height: 80px; margin-top: 10px;" value="Confirm">
            </form>

            <a href="#close_window" class="close_window">X</a>

        </window>

    </div>
    <div class="block7 anim-show3 fontz">

        <main>
            {% for article in articles %}
            <article class="blocktext">
                <a href="/delete/{{article.id}}"><img class="izo" width="30" height="30" style="position: relative; left: 4450%; top: 3.6%;"
                     src="https://wmpics.pics/di-ZVNK.png"></a>
                <a onclick="location.hash ='zatemnenie{{article.id}}'"><img class="izo pointer" width="25" height="25"
                                                               style="position: relative; right: -5050%; top: 5%;"
                                                               src="https://wmpics.pics/di-E7H6.png"></a>
                <h2 style="position: relative; top: -52%; " onclick="window.location.href = '{{article.body }}'; "> {{article.title }} </h2>
            </article>


            <div class="anim-show3 zatemnenie-item" id="zatemnenie{{article.id}}">

                <window>

                    <form action="/create/{{article.id}}" method="post">
                        <input class="appearblock" name="title" type="text" style="padding-left: 5px; margin-top: 15px;"
                               placeholder="title" value="{{article.title}} ">
                        <input class="appearblock" name="body" type="url" style="padding-left: 5px; margin-top: 15px;"
                               placeholder="Url" value="{{article.body}}">
                        <input class="btn first signbutton" type="submit" id="submit2"
                               style="width: 150px; height: 80px; margin-top: 10px;" value="Confirm">
                    </form>

                    <a href="#close_window" class="close_window">X</a>

                </window>

            </div>
            {% endfor %}

        </main>

    </div>
</header>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</html>